@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-blueDark: oklch(0.52 0.15 251.22)
}

:root {
  min-height: 100vh;
  scroll-behavior: auto;
}

body {
  min-height: 100vh;
  /* background: #000; */
  font-family: Manrope, sans-serif;
  scroll-behavior: auto;
}

.max-w-screen-lg {
  max-width: 1024px;
}

.bg-footer {
  background-image: url('../assets/images/footer.dbe7db48d54962232591.jpg');
}

@media (min-width: 1024px) {
  .w-container {
    width: 83.333333%;
  }
}